.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  gap: 20px;
}

.title {
  color: #385752;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-decoration: underline 3px solid #f9bc60;
}

.accent {
  color: #f9bc60;
  text-decoration: none;
}

.subtitle {
  color: #385752;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
}
